footer{
    background-color: $bg-colorfoot;
    color: $text-white;
    margin-top: -20px;

    .row {
        @include flexdisplayrow;
        margin: 20px;

        @include mq($media-swap){
            flex-direction: column;
            margin: 20px;
        }
    }
}