header {
    $header-height: 60px !global;
    min-height: $header-height;

    $site-width: 1000px !global;
    max-width: $site-width;
    @include center;
    
    background-color: $bg-colorhead;

    div{
        margin: 10px;
        @include flexdisplayrow;
    }

    h1{
        
        @include link-style;
        font-size: 20px;
        color: $header-text;

        a {
		    font-size: 36px;
	    }
    }

    img{
        max-width: 120px;
        height: auto;

        
    }
    @include mq($media-swap){
        .header-content-wrap a{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        
    }
}