header nav {

    li {
        @include link-style;
        list-style-type: none;
        border: 1px solid;
    }

    ul{
        @include flexdisplayrow;
    }

    a {
        $transition: background-color 0.3s ease; 
        @include plain-link($text-black);
        font-weight: bold;
        display: block;
        padding: 0px 5px;

        font-size: 18px;
        color: $text-black;

        line-height: $header-height;
        transition: $transition;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            text-decoration: none;
            background-color: transparent;
            transition: $transition;
        }
        #{$hover} {
            background-color: rgba($bg-navselect, 0.1);
            outline: none;
            &:after {
                background-color: $bg-navunderline;
            }
        }
    }

    @include mq($media-swap){
        
        $border: 1px solid $text-black;
        width: 100%;
        display: none;

        ul {
            display: block;
        }

        li {
            padding: 0px;
            margin: 0px 0px 0px -40px;
        }

        a {
            padding: 0px 10px;
            font-size: 24px;
            color: $text-black;
            border-top: $border;
            line-height: $header-height - 2px;
        }

        .show & {
            display: block;
        }
    
    }
}