// Colors - we should edit these instead of copy/paste like I did
$header-text: #110070;
$link-hover: #460101;
$bg-colorhead: #a1da06;
$bg-colorwrap: #ecaee7;
$bg-colorfoot: #000000;
$text-black: #2e2e2e;
$text-white: #bbbbbb;

//media query resize
$media-swap: 600px;

// Utility variables
$hover: '&:hover, &:focus, &:active';

