<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>COMP 1950</title>
<link rel="stylesheet" href="styles/generalStyle.css">
</head>

<body>

<header>
	<div class="header-content-wrap container">
		---either logo or name here--
		<button class="hamburger">
			<span class="hamburger-content">
				<span class="hamburger-icon" tabindex="-1">&#9776;</span>
				<span class="hamburger-text">Menu</span>
			</span>
		</button>
		<nav>
			<ul>
				<li><a href="#0">About</a></li>
				<li><a href="#0">Outline</a></li>
				<li><a href="#0">Schedule</a></li>
				<li><a href="#0">Feedback</a></li>
			</ul>
		</nav>	
	</div>
</header>
<div class="wrapper">
	<main>

	</main>
	<footer>
		<div class="row">
			<div class="one-third column">
				<h2>one</h2>
			</div>
			<div class="one-third column">
				<h2>two</h2>
				<p></p>
				<p></p>
			</div>
			<div class="one-third column">
				<h2>three</h2>
				<p></p>
				<p></p>
			</div>
		</div>
	</footer>
</div>
<script src="./scripts/menu.js"></script>
</body>
</html>
