header {
  min-height: 60px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fffd71; }
  header div {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
  header h1 {
    font-size: 20px;
    color: #110070; }
    header h1 a {
      text-decoration: none; }
    header h1 a:hover {
      color: #ff0000;
      text-decoration: none; }
    header h1 a {
      font-size: 36px; }
  header img {
    max-width: 120px;
    height: auto; }
  @media (max-width: 600px) {
    header .header-content-wrap a {
      display: block;
      margin-left: auto;
      margin-right: auto; } }

footer {
  background-color: #000000;
  color: #bbbbbb;
  margin-top: -20px; }
  footer .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px; }
    footer .row .column {
      flex: 1 1 0; }
    footer .row .center {
      text-align: center; }
    footer .row .right {
      text-align: right; }
      footer .row .right a {
        color: #bbbbbb; }
        footer .row .right a:hover, footer .row .right a:focus, footer .row .right a:active {
          color: #eeeeee; }
    @media (max-width: 600px) {
      footer .row {
        flex-direction: column;
        margin: 20px; }
        footer .row .center, footer .row .right {
          text-align: left; } }

body {
  background-image: url(../images/design-studio-bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #9fc5ff; }
  body main {
    margin-top: -10px;
    padding: 20px;
    background-color: #ffffff; }
  @media (max-width: 1150px) {
    body {
      background-image: none; } }

.wrapper {
  max-width: 1000px;
  margin: 0 auto; }

header nav li {
  list-style-type: none;
  border: 1px solid; }
  header nav li a {
    text-decoration: none; }
  header nav li a:hover {
    color: #ff0000;
    text-decoration: none; }
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }
header nav a {
  text-decoration: none;
  color: #2e2e2e;
  font-weight: bold;
  display: block;
  padding: 0px 5px;
  font-size: 18px;
  color: #2e2e2e;
  line-height: 60px;
  transition: background-color 0.3s ease;
  position: relative; }
  header nav a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    text-decoration: none;
    background-color: transparent;
    transition: background-color 0.3s ease; }
  header nav a:hover, header nav a:focus, header nav a:active {
    background-color: rgba(255, 0, 0, 0.1);
    outline: none; }
    header nav a:hover:after, header nav a:focus:after, header nav a:active:after {
      background-color: #fff000; }
@media (max-width: 600px) {
  header nav {
    width: 100%;
    display: none; }
    header nav ul {
      display: block; }
    header nav li {
      padding: 0px;
      margin: 0px 0px 0px -40px; }
    header nav a {
      padding: 0px 10px;
      font-size: 24px;
      color: #2e2e2e;
      border-top: 1px solid #2e2e2e;
      line-height: 58px; }
    .show header nav {
      display: block; } }

.hamburger {
  display: none; }
  @media (max-width: 600px) {
    .hamburger {
      display: block;
      border: none;
      background-color: transparent;
      padding: 0;
      margin: 0;
      width: 37px;
      height: 37px;
      margin-right: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer; }
      .hamburger .hamburger-icon {
        color: #2e2e2e;
        line-height: 1;
        font-size: 3.4em; }
      .hamburger .hamburger:focus,
      .hamburger .hamburger-icon:focus {
        outline: none; }
      .hamburger .hamburger:focus .hamburger-icon {
        outline: 5px solid rgba(0, 0, 255, 0.5); }
      .hamburger .hamburger-text {
        margin: -1px;
        padding: 0;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        clip: rect(0, 0, 0, 0);
        position: absolute; } }

main h1 {
  background-color: #fffccc;
  text-align: center;
  padding: 4px 0px;
  margin: 6px 0px; }
main p {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 18px;
  margin-bottom: 18px; }

/*# sourceMappingURL=generalStyle.css.map */
